<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        <!-- Имя автора -->
                                        {{ post_author.get_full_name }}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         {{ post_author.username }}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: {{ post_author.follower.count }} <br />
                                            Подписан: {{ post_author.following.count }}
                                            </div>
                                    </li>
                                    {% if post_author != request.user %}
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                                Записей: {{ post_author.posts.count }}
                                                <li class="list-group-item">
                                                        {% if following %}
                                                        <a class="btn btn-lg btn-light" 
                                                                href="{% url 'profile_unfollow' post_author.username %}" role="button"> 
                                                                Отписаться 
                                                        </a> 
                                                        {% else %}
                                                        <a class="btn btn-lg btn-primary" 
                                                                href="{% url 'profile_follow' post_author.username %}" role="button">
                                                        Подписаться 
                                                        </a>
                                                        {% endif %}
                                                    </li>
                                            </div>
                                    </li>
                                    {% endif %}
                            </ul>
                    </div>
            </div>